#parse('header.vm')
<div class="row">
    <div class="col-6">
        <button class="btn btn-primary" id="btnAdd">Add New Row</button>
    </div>
    <div class="col-6">
        <select class="form-control" id="form-main">
            #foreach($f in $form)
            <option value="$f.form_id">$f.form_id -  $f.form_label</option>
            #end
        </select>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="table-row" class="table display responsive nowrap">
            <thead>
            <tr>
                <th class="wd-10p">Row ID</th>
                <th class="wd-40p">Item</th>
                <th class="wd-10p">Visibility</th>
                <th class="wd-10p">Order</th>
                <th class="wd-25p">Action</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div id="detail-modal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Detail Field</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20" style="min-width: 600px;width: 100%">
                <form method="post" action="${url}admin/savefield" id="saveField">
                    <div class="row">
                        <div class="col-sm-12">
                            Field ID
                            <input type="hidden" name="row_id" class="form-control" id="rowIDF"/>
                            <input type="text" name="field_id" class="form-control" id="fieldID"/>
                            Field Name
                            <input type="text" name="field_name" class="form-control" id="fieldName"/>
                            Field Type
                            <select name="field_type" class="form-control" id="fieldType">
                                <option value="title">Text Heading</option>
                                <option value="text">Edit Text</option>
                                <option value="radio">Radio Button</option>
                                <option value="select">Selection</option>
                                <option value="checkbox">Check Box</option>
                                <option value="photo">Photo</option>
                                <option value="button">Button</option>
                                <option value="read_mode_button">Read Only Button</option>
                            </select>
                            Field Visibility
                            <select name="field_visibility" class="form-control" id="fieldVisibility">
                                <option value="visible">visible</option>
                                <option value="invisible">invisible</option>
                            </select>
                            Field Label / Text
                            <input type="text" name="field_label" class="form-control" id="fieldLabel"/>
                            Field Value List
                            <select name="field_global_value" class="form-control" id="fieldValue">
                                <option value="" selected>---none---</option>
                                #foreach($p in $param)
                                    <option value="${p}">${p}</option>
                                #end
                            </select>
                            Field Weight
                            <input type="text" name="field_weight" class="form-control" id="fieldWeight"/>
                            Field Store
                            <input type="text" name="field_store" class="form-control" id="fieldStore"/>
                            Field Extra
                            <input type="text" name="field_extra" class="form-control" id="fieldExtra"/>
                        </div>
                    </div>
                </form>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" id="saveData" class="btn btn-info pd-x-20">Save</button>
                <button type="button" id="deleteData" class="btn btn-danger pd-x-20">Delete</button>
                <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<div id="add-modal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Row</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20" style="min-width: 600px;width: 100%">
                <form method="post" id="saveRow">
                    <div class="row">
                        <div class="col-sm-12">
                            Row ID
                            <input type="text" name="row_id" class="form-control" id="rowID"/>
                        </div>
                    </div>
                </form>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" id="saveDataRow" class="btn btn-info pd-x-20">Save</button>
                <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script type="text/javascript">
    var tableCrud=$('#table-row').DataTable({
        responsive : true,
        dom        : "rtip",
        ordering   : false,
        paging     : false,
        ajax       : '${url}admin/getRows/'+$("#form-main").val()
    });
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            document.getElementById("saveRow").reset();
            $("#add-modal").modal("show");
        });
        $('#saveData').click(function () {
            $('#saveData').prop("disabled",true);
            $.ajax("${url}admin/saveFormField",{
                method : "POST",
                data   : $('#saveField').serialize(),
                success : function (response) {
                    $('#saveData').prop("disabled",false);
                    $("#detail-modal").modal("hide");
                    reloadTable();
                }
            });
        });
        $("#deleteData").click(function () {
            if (confirm("Are you sure want to delete form?")){
                $.ajax("${url}admin/deleteFormField",{
                    method : "POST",
                    data   : $('#saveField').serialize(),
                    success : function (response) {
                        $("#detail-modal").modal("hide");
                        reloadTable()
                    }
                });
            }
        });
        $("#saveDataRow").click(function () {
            $('#saveDataRow').prop("disabled",true);
            $.ajax("${url}admin/addRow",{
                method : "POST",
                data   : {
                    form_id : $("#form-main").val(),
                    row_id  : $("#rowID").val()
                },
                success : function (response) {
                    $('#saveDataRow').prop("disabled",false);
                    $("#add-modal").modal("hide");
                    reloadTable();
                }
            });
        });
        $('#form-main').on('change',function () {
            reloadTable();
        });
        $('#table-row tbody').on('click','.up',function () {
            var row=$(this).data("row");
            $.ajax("${url}admin/row/up",{
                method : "POST",
                data   : row,
                success : function (response) {
                    reloadTable()
                }
            })
        });
        $('#table-row tbody').on('click','.down',function () {
            var row=$(this).data("row");
            $.ajax("${url}admin/row/down",{
                method : "POST",
                data   : row,
                success : function (response) {
                    reloadTable()
                }
            })
        });
        $('#table-row tbody').on('click','.delete',function () {
            if (confirm("Are you sure want to delete?")){
                var row=$(this).data("row");
                $.ajax("${url}admin/deleteRow",{
                    method : "POST",
                    data   : row,
                    success : function (response) {
                        reloadTable()
                    }
                });
            }
        });
        $('#table-row tbody').on('click','.vis',function () {
            var row=$(this).data("row");
            $.ajax("${url}admin/setVisibilityRow",{
                method : "POST",
                data   : row,
                success : function (response) {
                    reloadTable()
                }
            });
        });
        $('#table-row tbody').on('click','.add',function () {
            document.getElementById("saveField").reset();
            var row=$(this).data("row");
            $('#rowIDF').val(row.row_id);
            $('#fieldID').prop("readonly",false);
            $("#detail-modal").modal("show");
            $("#deleteData").hide();
        });
        $('#table-row tbody').on('click','.item',function () {
            var fieldData=$(this).data("field");
            $('#fieldID').prop("readonly",true);
            $('#fieldID').val(fieldData.field_id);
            $('#fieldName').val(fieldData.field_name);
            $('#fieldLabel').val(fieldData.field_label);
            $('#fieldVisibility').val(fieldData.field_visibility);
            $('#fieldWeight').val(fieldData.field_weight);
            $('#fieldExtra').val(fieldData.field_extra);
            $('#fieldType').val(fieldData.field_type);
            $('#fieldStore').val(fieldData.field_store);
            $('#fieldValue').val(fieldData.field_global_value);
            $('#rowIDF').val(fieldData.row_id);
            $("#detail-modal").modal("show");
            $("#deleteData").show();
        });
    });
    function reloadTable() {
        tableCrud.ajax.url('${url}admin/getRows/'+$("#form-main").val()).load();
    }
</script>
#parse('footer.vm')